
.login-background{
  background:url('/restaurant-blur.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.login-close-text{
  display:none;
}

// .login-link-text{
//   display:none;
// }

#login-dropdown-list {
    top: 250px;
    left: -233px;
    display:visible !important;
}
