<ion-view view-title="Home">
    <ion-nav-buttons side="right">
    </ion-nav-buttons>
    <ion-scroll zooming="true" direction="y" style="height:100vh">
      <div class="container card-container">
        <div class="card home-item" ng-repeat="post in home.data">
          <div class="card-user-layer">
            <h4 class="card-title">{{ post | postName}}</h4>
          </div>
          <a href="#!/tab/posts/{{ post._id }}"> <img ng-src="{{ post.picture}}" class="card-img-top img-responsive"></a>
          <div class="card-block">
            <p class="card-text">{{ post.caption }}</p>
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
          </div>
        </div>
      </div>
    </ion-scroll>
</ion-view>
