<ion-view title="Food">
    <ion-nav-buttons side="right">
        <span ng-if="post.userId == this.userId">
        <button class="btn btn-danger" ng-click="post.removePost()">Delete</button>
            </span>
    </ion-nav-buttons>
    <ion-content class="post" delegate-handle="postScroll">
        <img class="img-responsive" ng-src="{{post.data.picture}}">
        <h2>What's inside</h2>
        <div class="itemConcepts">
            <a ng-repeat="concept in post.data.concepts">
                <span class="label label-primary" ng-click="post.showNutrientInfo(concept.name)">{{concept.name}}</span>
            </a>
        </div>
        <h2>Comments</h2>
        <div class="comments" ng-repeat="msg in post.messages">
            <ion-item>
                <div>
                    <label>{{post.user.name}}</label>
                    <span class="timeStamp">{{ msg.timestamp | amDateFormat: 'HH:mm' }}</span>
                </div>
                <div>
                    {{msg.text}}
                </div>
            </ion-item>
        </div>
    </ion-content>
    <ion-footer-bar keyboard-attach class="bar-stable footer-post item-input-inset">
        <label class="item-input-wrapper">
            <input ng-model="post.message"
                   dir="auto"
                   type="text"
                   on-return="post.sendMessage(); post.closeKeyboard()"
                   on-focus="post.inputUp()"
                   on-blur="post.inputDown()"/>
        </label>
        <button ng-click="post.sendMessage()" class="button button-clear button-positive">Comment</button>
    </ion-footer-bar>
</ion-view>
