<ion-view title="Food">
    <ion-content class="post" delegate-handle="postScroll">
        <img class="img-responsive" ng-src="{{post.data.picture}}">
        <h2>What's inside</h2>
        <div class="itemConcepts">
            <a ng-repeat="concept in post.data.concepts">
                <span class="label label-primary">{{concept.name}}</span>
            </a>
        </div>
        <h2>Comments</h2>
        <div class="comments" ng-repeat="msg in post.messages">
            <ion-item>
                <div>
                    <label>{{post.user.name}}</label>
                    <span class="timeStamp">{{ msg.timestamp | amDateFormat: 'HH:mm' }}</span>
                </div>
                <div>
                    {{msg.text}}
                </div>
            </ion-item>
        </div>
    </ion-content>
    <ion-footer-bar keyboard-attach class="bar-stable footer-post item-input-inset">
        <button class="button button-clear button-icon button-positive icon ion-ios-upload-outline"></button>

        <label class="item-input-wrapper">
            <input ng-model="post.message"
                   dir="auto"
                   type="text"
                   on-return="post.sendMessage(); post.closeKeyboard()"
                   on-focus="post.inputUp()"
                   on-blur="post.inputDown()"/>
        </label>

        <span ng-if="post.message.length > 0">
      <button ng-click="post.sendMessage()" class="button button-clear button-positive">Send</button>
    </span>
        <span ng-if="!post.message || post.message.length === 0">
      <button ng-click="post.sendPicture()"
              class="button button-clear button-icon button-positive icon ion-ios-camera-outline"></button>
      <i class="buttons-seperator icon ion-android-more-vertical"></i>
      <button class="button button-clear button-icon button-positive icon ion-ios-mic-outline"></button>
    </span>
    </ion-footer-bar>
</ion-view>
